# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\95640\Downloads\IC\curriculum\ACSE2020\ACSE1\week3\acse-1-assessment-3-acse-rt1120\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
